{% extends "base.html" %}
{% block title %}Reset your AABuddy password{% endblock %}

{% block content %}
<div id="formwrap">
    {% if form %}
    <p style="line-height:1.3em;">Fill out the reset password form</p>
    <div class="hpad15">
        <form action="/aabuddy/reset_password" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>  
    </div>
    {% else %}
    <div id="formwrap">
        <p style="line-height:1.3em;">Your AABuddy password has been reset successfully.</p>
    </div>
    {% endif %}
</div>
{% endblock %}



